.logo{
    background-color: #fff;
    margin: 40px auto;
    text-align: center;
    height: 70px;
    width: 70px;
}
.head{
    text-align: center;
}
.container{
    background-color: #fff;
    width: 350px;
    margin: auto;
}
#input{
    height: 30px;
    width: 300px;
    border-top: 45px;
    border-left: 45px;
    border-right: 45px;
    border-color: rgb(189, 189, 189);
}
#button{
    height: 35px;
    width: 300px;
    border-radius: 20px;
    border-color: transparent;
    color: #fff;
    background-color: rgb(55, 136, 55);
    box-shadow: #000 #434543 #234523;
}
#sign{
    color: rgb(55, 136, 55);
    font-size: small;
    text-decoration: none;
}